<div class="ot-unit" ot-id="{{ot-id}}">
    <div class="ot-description">
        <div class="ot-branch-symbol-container">
            <div class="ot-branch-symbol"></div>
            <div class="ot-branch-symbol"></div>
        </div>
        <div class="ot-expand-collapse" onclick="showHideChildren(this)">
            +
        </div>
        <p>&nbsp; &nbsp;</p>
        <div class="ot-name">
            {{name}}
        </div>
    </div>
    <div class="ot-children">
        {{{children}}}
    </div>
</div>
