<div class="ot-unit">
    <div class="ot-description" ot-id="{{ot-id}}" onclick="selectThisOt(this);">
        <div class="ot-branch-symbol-container">
            <div class="ot-branch-symbol"></div>
            <div class="ot-branch-symbol"></div>
        </div>
        <div class="ot-expand-collapse" title="show/hide children elements" onclick="showHideChildren(this)">
            +
        </div>
        <div class="refresh-button" title="reload children ots from database" onclick="refreshChildren(this)">
            ↺
        </div>
        <p>&nbsp; &nbsp;</p>
        <div class="ot-name">
            {{name}}
        </div>
    </div>
    <div class="ot-children">
        {{{children}}}
    </div>
</div>
