<style type="text/css">
	.header {
		height: 7%;
		border-bottom:5px solid lightgray;
		margin-bottom: 2px;
	}
	.left-panel {
		float: left;
		height: 100%;
		width: 20%;
		padding: 5px;
		border-right: 2px solid lightgray;
	}
	.right-panel {
		padding: 5px;
		float: left;
		height: 100%;
		width: 100%;
	}
	.object-type-unit {
		margin-left: 50px;
		height: 30px;
		border-left: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		padding: 5px;
	}
	.object-type-unit.expand, .object-type-unit.collapse {
		border-radius: 15px;
		color: white;
		font-weight: bolder;
	}
	.object-type-unit.expand {
		border: 1px solid lightgreen;
		background-color: lightgreen;
	}
	.object-type-unit.collapse {
		border: 1px solid orange;
		background-color: orange;
	}

</style>