html {
	height: 100%;
}

body {
	color: darkslategray;
	height: 100%;
	overflow-y: hidden;
}

.header {
	height: 7%;
	border-bottom:5px solid lightgray;
	margin-bottom: 2px;
}

.left-panel {
	float: left;
	height: 90%;
	border-right: 2px solid lightgray;
	padding-right: 40px;
	overflow-x: auto;
	resize: horizontal;
}

#left-panel-header, #right-panel-header {
	width: 100%;
	height: 10%;
	border-bottom: 5px solid lightgray;
}

.right-panel {
	padding: 5px;
	overflow-y: auto;
}

#right-panel-tools {
	display: flex;
	flex: row wrap;
	padding: 5px;
}

#right-panel-tools > * {
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	color: black;
}

#right-panel-tools > *:active, #right-panel-tools > *.selected {
	border: 2px solid black;
}

#attrs-reload-button {
	border-color: skyblue;
	background-color: skyblue;
}

#attrs-inherited-button {
	border-color: sandybrown;
	background-color: sandybrown;
}

.ot-unit {
	margin-left: 40px;
	display: flex;
	flex-flow: column;
	border-left: 1px solid gray;
}

.ot-unit:last-child {
	border: none;
}

.ot-description {
	display: flex;
	height: 30px;
	align-items: center;
}

.ot-description.selected {
	background: radial-gradient(white, white, lightgray);
}

.ot-description > * {
	height: inherit;
	flex-shrink: 0;
}

.ot-branch-symbol {
	width: 40px;
	height: 50%;
}

.ot-branch-symbol:first-child {
	border-bottom: 1px solid gray;
}

.ot-unit:last-child > .ot-description > .ot-branch-symbol-container > .ot-branch-symbol:first-child {
    border-left: 1px solid gray;
}

.ot-expand-collapse, .refresh-button{
	height: 20px;
	width: 20px;
	text-align: center;
}

.ot-expand-collapse {
	line-height: 15px;
	font-size: 30px;
	font-family: monospace;
	background-color: orange;
}

.refresh-button {
	background-color: lightgreen;
	font-size: 23px;
	line-height: 20px;
}

#attr-list {
	margin: 10px 10px 30px 0px;
	border-collapse: collapse;
	width: 100%;
}

#attr-list thead tr {
    border-bottom: 1px solid gray;
    font-weight: bold; 
}

#attr-list td {
	padding: 15px;
}

#attr-list thead td{
	padding-bottom: 30px;
}

#attr-list tbody tr {
	border-bottom: 1px solid lightgray;
}

#attr-list td.attr-inherited {
	text-align: center;
}